<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="180" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.5" />
    <pages validateRequest="false" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UdowsYunPublicEntities" connectionString="metadata=res://*/Models.NewUmass.csdl|res://*/Models.NewUmass.ssdl|res://*/Models.NewUmass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=121.42.236.164;initial catalog=UdowsYunPublish;persist security info=True;user id=mass;password=!qaz1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="umassEntities" connectionString="metadata=res://*/Models.RankingModel.csdl|res://*/Models.RankingModel.ssdl|res://*/Models.RankingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=121.42.236.164;initial catalog=umass;persist security info=True;user id=mass;password=!qaz1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImgMapSrc" value="H:\GetWebInfo\Data\WebPageImage\" />
    <add key="ImgWebSrc" value="http://pic03.uz360.cn/WebPageImage/" />
    <add key="ImgUmasMapSrc" value="E:\WebSite\www.mass.udows.cn\images\license\" />
    <add key="ImgUmasWebSrc" value="http://www.mass.udows.cn/images/license/" />
    <!-- 是否写日志-->
    <add key="LogIsWrite" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ApiSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mass.udows.cn/Api.asmx" binding="basicHttpBinding" bindingConfiguration="ApiSoap" contract="ServiceReference1.ApiSoap" name="ApiSoap" />
    </client>
  </system.serviceModel>
</configuration>